server {
    listen   80;

    server_name api.banana.dev;
    access_log  /var/log/nginx/api.banana.dev.access.log;
    error_log   /var/log/nginx/api.banana.dev.error.log;

    root /home/banana-api/public/;
    index index.php; # for home to work

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files $uri $uri/ /index.php =404;
        fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_param APP_ENV dev;
    }

    # disable cache
    sendfile off;

    location = /50x.html {
        root /usr/share/nginx/www;
    }

    location ~ /\.ht {
        deny all;
    }
}
